<div class="container">
  <header id="formHeader" class="row">
  </header>

  <div id="editProfileForm" class="formWrapper row">
    <div id="formPanel" class="col-md-6">

      <h1 class="form-title">Change details</h1>

      <label class="control-label">Choose a profile photo</label>
      <%= render partial: 'shared/temp_image_uploader', locals: {temp_image: @temp_image} %>

      <%= nested_form_for @user, url: my_profile_path, html: {class: 'form-horizontal edit_user', role: 'form'} do |form| %>

        <% image_url = @user.avatar.present? ? @user.avatar_url : nil %>
        <%= render 'shared/image_editor', form: form,
                                          image_url: image_url,
                                          display_class: 'thumb',
                                          width: 180,
                                          height: 180 %>

        <%= form.hidden_field :remote_avatar_url, class: 'image_url' %>

        <%= render partial: 'users/details_form', locals: {form: form, user: @user} %>

        <div class="form-group">
          <div class="formRow">
            <%= form.label :description, class: "control-label" %>
            <%= form.text_area :description, class: 'form-control' %>
            <% @user.errors[:description].each do |error| %>
              <span class="help-block"><%= error %></span>
            <% end -%>
          </div>
        </div>

        <%= render partial: 'users/links_form', locals: {form: form, user: @user} %>

        <div class="form-group">
          <h2 class="form-title">Change password</h2>
          <p class="formHint">
            If you want to change your password, please fill in the fields below,
            otherwise just leave them blank.
          </p>
        </div>

        <%= render partial: 'users/password_form', locals: {form: form, user: @user} %>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= form.submit "Save changes", class: "button green" %>
            <%= link_to "Cancel", my_profile_path, class: "button cancel" %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="infoPanel" class="col-md-6">
    </div>

  </div>
</div>

<script type="text/javascript">
  $('form#new_temp_image').bind('fileuploadadd', function (e, data) {
    $('form.edit_user input[type="submit"]').prop('disabled', true);
  });

  $('#image-editor').bind('imageDidShow', function (e, data) {
    $('form.edit_user input[type="submit"]').prop('disabled', false);
  });
</script>
