<div class="container">
  <header id="formHeader" class="row">
  </header>

  <div id="editProfileForm" class="formWrapper row">
    <div id="formPanel" class="col-md-6">

      <h1 class="form-title">Change details</h1>

      <%= form_for @user, url: my_profile_path, html: {class: 'form-horizontal edit_user', role: 'form'} do |form| %>

        <%= render partial: 'users/details_form', locals: {form: form, user: @user} %>

        <div class="form-group">
          <h2 class="form-title">Change password</h2>
          <p class="formHint">
            If you want to change your password, please fill in the fields below,
            otherwise just leave them blank.
          </p>
        </div>

        <%= render partial: 'users/password_form', locals: {form: form, user: @user} %>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= link_to "Cancel", my_profile_path, class: "button cancel" %>
            <%= form.submit "Save changes", class: "button green" %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="infoPanel" class="col-md-6">
    </div>

  </div>
</div>
