.container
  .col-xs-12
    %h1= @user.screen_name

    %p
      First name:
      = @user.first_name

    %p
      Last name:
      = @user.last_name

    %p
      Email:
      = @user.email

    %p
      Group account?
      = @user.is_group?

