<div class="container user-card">
  <div class="details col-xs-12">
    <h1><%= @user.screen_name %></h1>

    <p>
      <strong><%= user_name_label(@user) %></strong> <%= @user.first_name %>
    </p>

    <% unless @user.is_group? %>
      <p>
        <strong>Last name:</strong> <%= @user.last_name %>
      </p>
    <% end %>

    <p>
      <strong>Email:</strong> <%= @user.email %>
    </p>

    <p>
      <strong>Group account?</strong> <%= @user.is_group? %>
    </p>
  </div>

  <div class="actions">
    <%= link_to 'Edit', my_profile_edit_path, class: 'btn btn-primary' %>
  </div>
</div>
