<a class="scrapbook thumb masonry" data-id="<%= scrapbook.id %>" href="<%= link_path %>" title="View details" role="button">
  <div class="padding">
    <h3 class="scrapbookTitle"><%= scrapbook.title %></h3>
    <% if scrapbook.memories.any? %>
      <%= image_tag cache_busted_url(scrapbook.cover.main_memory, :big_thumb), alt: scrapbook.title, :class => "main" %>
      <div class="bottom-row">
        <div class="count">
          <span><%= scrapbook.cover.memory_count %></span>
          <%= 'memory'.pluralize(scrapbook.cover.memory_count) %>
        </div>
        <%= image_tag 'scrapbook-thumb-ph.png' %> <!-- mini thumb -->
        <%= image_tag 'scrapbook-thumb-ph.png' %> <!-- mini thumb -->
      </div>

    <% else %>
      <div class="empty">
        <%= image_tag 'empty-scrapbook.png', :class => "ph" %>
        <h4>This scrapbook is empty</h4>
      </div>
    <% end %>
  </div>
</a>

