<a class="scrapbook thumb masonry" data-id="<%= scrapbook.id %>" href="<%= link_path %>" title="View details" role="button">
  <div class="padding">
    <h3 class="scrapbookTitle"><%= scrapbook.title %></h3>
    <% if scrapbook.memories.any? %>
      <%= image_tag cache_busted_url(scrapbook.cover.main_memory, :big_thumb), alt: scrapbook.title, :class => "main" %>
      <div class="bottom-row clearfix">
        <div class="count">
          <div class="wrapper">
            <span><%= scrapbook.cover.memory_count %></span>
            <i><%= 'memory'.pluralize(scrapbook.cover.memory_count) %></i>
          </div>
        </div>
        <% scrapbook.cover.secondary_memories.each do |secondary_memory| -%>
          <% if secondary_memory -%>
            <%= image_tag cache_busted_url(secondary_memory, :mini_thumb), alt: secondary_memory.title %>
          <% else -%>
            <%= image_tag 'empty-scrapbook.png', :class => "ph" %>
          <% end -%>
        <% end -%>
      </div>

    <% else %>
      <div class="empty">
        <%= image_tag 'empty-scrapbook.png', :class => "ph" %>
        <h4>This scrapbook is empty</h4>
      </div>
    <% end %>
  </div>
</a>

