<a class="scrapbook thumb" data-id="<%= scrapbook.id %>" href="<%= scrapbook_path(scrapbook.id) %>" title="View details" role="button">
  <div class="img">
    <% if scrapbook.cover_memory.present? %>
      <%= image_tag cache_busted_url(scrapbook.cover_memory, :thumb), alt: scrapbook.title %>
    <% else %>
      <p>&nbsp;</p>
    <% end %>
  </div>
  <div class="footer">
    <div class="title"><%= scrapbook.title %></div>
    <div class="count"><%= pluralize(scrapbook.memories.count, 'memory') %></div>
    <div class="updates">Updated <%= time_ago_in_words(scrapbook.updated_at) %> ago</div>
  </div>
</a>

