<a class="scrapbook thumb masonry" data-id="<%= scrapbook_cover.scrapbook_id %>" href="<%= File.join(show_path, scrapbook_cover.scrapbook_id.to_s) %>" title="View details" role="button">
  <div class="padding">
    <%= render partial: 'shared/state_label', locals: {moderatable: scrapbook_cover.scrapbook} %>
    <h3 class="scrapbookTitle"><%= scrapbook_cover.title %></h3>

    <% if scrapbook_cover.main_memory %>
      <%= image_tag cache_busted_url(scrapbook_cover.main_memory, :big_thumb), alt: scrapbook_cover.title, :class => "main" %>
    <% else %>
      <div class="empty">
        <%= image_tag 'empty-scrapbook.png', :class => "ph" %>
        <h4>This scrapbook is empty</h4>
      </div>
    <% end -%>

    <div class="bottom-row clearfix">
      <div class="count">
        <div class="wrapper">
          <span><%= scrapbook_cover.memories_count %></span>
          <i><%= 'memory'.pluralize(scrapbook_cover.memories_count) %></i>
        </div>
      </div>
      <% scrapbook_cover.secondary_memories.each do |secondary_memory| -%>
        <% if secondary_memory -%>
          <%= image_tag cache_busted_url(secondary_memory, :mini_thumb), alt: secondary_memory.title, class: 'mini' %>
        <% else -%>
          <div class="empty mini"></div>
        <% end -%>
      <% end -%>
    </div>

  </div>
</a>
