<% if current_user %>

  <%
    scrapbooks = current_user.scrapbooks
    presenter = ScrapbookIndexPresenter.new(scrapbooks, ScrapbookMemoryFetcher.new(scrapbooks, current_user.id))
  -%>

  <% presenter.scrapbook_covers.each do |scrapbook_cover| %>
    <div class="scrapbook" data-id="<%= scrapbook_cover.scrapbook_id %>" role="button" aria-label="Add to scrapbook: <%= scrapbook_cover.title %>">
      <div class="picture">
        <% if scrapbook_cover.main_memory %>
          <%= image_tag cache_busted_url(scrapbook_cover.main_memory, :mini_thumb), alt: scrapbook_cover.title %>
        <% else %>
          <%= image_tag 'empty-scrapbook.png', :class => "ph" %>
        <% end %>
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="details">
        <div class="title"><%= scrapbook_cover.title %></div>
        <div class="count"><%= pluralize(scrapbook_cover.memories_count, 'memory') %></div>
      </div>
    </div>
  <% end %>
<% end %>

