<div id="scrapbook" class="container">
  <header id="contentHeader" class="clearfix">
    <h1><%= @scrapbook.title %></h1>

    <% if belongs_to_user?(@scrapbook) %>
      <span class="actions">
        <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id) %>
        <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), method: :delete, data: {confirm: 'Are you sure?'} %>
        <a class="memory thumb" href="<%= memories_url %>" title="Add more memories" role="button">Add memories</a>
      </span>
    <% end %>
  </header>

  <div id="description">
    <p><%= @scrapbook.description %></p>
  </div>

  <%= render partial: 'memories/memories', locals: {memories: @scrapbook.scrapbook_memories.by_ordering.map(&:memory)} %>
</div>

