<div id="scrapbook" class="container">
  <header id="contentHeader" class="clearfix">
    <h1><%= @scrapbook.title %></h1>

    <% if current_user.try(:can_modify?, @scrapbook) %>
      <span class="actions">
        <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id) %>
        <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), method: :delete, data: {confirm: 'Are you sure?'} %>
        <%= link_to "Add more memories", memories_path, role: "button" %>
      </span>
    <% end %>
  </header>

  <div id="description">
    <p><%= @scrapbook.description %></p>
  </div>

  <% memories = @scrapbook.scrapbook_memories.by_ordering.map(&:memory) %>
  <div class="masonry-loading-spinner"><div class="spinner"></div></div>
    <div id="memories" class="masonry-grid">
      <% memories.each do |memory| %>
        <%= render partial: 'memories/memory_thumb', locals: {memory: memory} %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>

