<% memories = Kaminari.paginate_array(@scrapbook.approved_ordered_memories).page(params[:page]) %>

<div id="scrapbook" class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1><%= @scrapbook.title %></h1>
      <div class="actions">
        <%= link_to 'Back', current_scrapbook_index_path, :class => "button back" %>

        <% if current_user.try(:can_modify?, @scrapbook) %>
          <% if memories.any? -%>
            <a href="#" class="button add-memories memories float-right" data-toggle="modal" data-target="#add-memories-modal">Add memories</a>
          <% end -%>
          <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id), :class => "button navy edit float-right"  %>
          <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), :class => "button delete float-right" , method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </header>

    <div id="description">
      <p><%= @scrapbook.description %></p>
    </div>

    <% if memories.any? -%>
      <%= render partial: 'memories/index', locals: {memories: memories} %>
    <% elsif current_user.try(:can_modify?, @scrapbook) %>
      <div id="scrapbookInstructions" class="container">
        <h3>Your scrapbook is empty!</h3>
        <p>Start adding memories now...</p>

        <%= render partial: 'scrapbooks/add_memories' %>
      </div>
    <% end -%>
  </div>
</div>

<%= render partial: 'scrapbooks/add_memories_modal' %>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>

