<div id="scrapbook" class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1><span>Browsing</span><%= @scrapbook.title %></h1>
      <div class="actions">
        <%= link_to 'Back', current_scrapbook_index_path, :class => "button back" %>
        <%= link_to 'Scrapbooks', scrapbooks_path, :class => "button scrapbooks coral" %>

         <% if current_user.try(:can_modify?, @scrapbook) %>
           <a href="#" class="button add-memories memories float-right">Add memories </a>
           <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id), :class => "button navy edit float-right"  %>
           <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), :class => "button delete float-right" , method: :delete, data: {confirm: 'Are you sure?'} %>
         <% end %>
      </div>
      <div id="addMemoriesDrawer">
        <span id="tab"></span>

        <%= link_to my_memories_path, :class => ""  do %>
          <%= image_tag "your-collection-icon.png", alt: "Your collection" %>
          <span>From your collection</span>
        <% end %>

        <%= link_to memories_path, :class => ""  do %>
          <%= image_tag "whole-collection-icon.png", alt: "Whole collection" %>
          <span>From the entire site</span>
        <% end %>

        <%= link_to new_my_memory_path, :class => ""  do %>
          <%= image_tag "upload-memory-icon.png", alt: "Upload a new memory" %>
          <span>Upload a new memory</span>
        <% end %>
      </div>
    </header>

    <div id="description">
      <p><%= @scrapbook.description %></p>
    </div>

    <% memories = @scrapbook.scrapbook_memories.by_ordering.map(&:memory) %>
    <% if memories.any? -%>
      <div class="masonry-loading-spinner"><div class="spinner"></div></div>
        <div id="memories" class="masonry-grid">
          <% memories.each do |memory| %>
            <%= render partial: 'memories/memory_thumb', locals: {memory: memory} %>
          <% end %>
        </div>
      </div>
    <% else -%>
      <p>Instructions on how to add stuff goes here.</p>
    <% end -%>
  </div>
</div>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();

  // Add memories panel
  var tabWidth = $('#scrapbook .actions a.memories').outerWidth();
  $('#addMemoriesDrawer #tab').css("width", tabWidth);

  $( "#scrapbook .actions a.memories" ).click(function(e) {
    e.preventDefault();
    $(this).toggleClass('active');
    $("#addMemoriesDrawer").toggle();
  });
</script>

