<div id="scrapbook" class="container">
  <header id="contentHeader" class="clearfix">
    <h1><%= @scrapbook.title %></h1>

    <% if belongs_to_user?(@scrapbook) %>
      <span class="actions">
        <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id) %>
        <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), method: :delete, data: {confirm: 'Are you sure?'} %>
        <a class="memory thumb" href="<%= memories_url %>" title="Add more memories" role="button">Add memories</a>
      </span>
    <% end %>
  </header>

  <div id="description">
    <p><%= @scrapbook.description %></p>
  </div>

  <div id="memories" class="masonry-grid">
    <% @scrapbook.scrapbook_memories.by_ordering.each do |scrapbook_memory| %>
      <% memory = scrapbook_memory.memory %>
      <a class="memory thumb masonry" data-id="<%= memory.id %>" href="<%= memory_url(memory.id) %>" title="View details" role="button">
        <div class="img">
          <img src="<%= cache_busted_url(memory, :thumb) %>" alt="<%= memory.title %>" />
        </div>
        <div class="detail">
          <p class="title"><%= memory.title %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>

