.container
  .col-xs-12
    %h1 Choose a new password

    = simple_form_for @user,
      url: password_reset_path(@user),
      wrapper: :horizontal_form,
      html: {method: :put, class: 'form-horizontal', role: 'form'} do |form|

      = form.error_notification

      = hidden_field_tag :token, @token

      = form.input :password, required: true, input_html: {class: 'form-control'}
      = form.input :password_confirmation, input_html: {class: 'form-control'}

      .form-group
        .actions.col-xs-sm-12
          = link_to "Cancel", root_path, class: "btn btn-default"
          = form.submit "Change Password", class: "btn btn-primary"
