<div class="container">
  <div class="col-xs-12">
    <h1 class="form-title">Choose a new password</h1>

    <%= simple_form_for @user,
      url: password_reset_path(@token),
      wrapper: :horizontal_form,
      html: {method: :put, class: 'form-horizontal', role: 'form'} do |form| %>

      <%= form.error_notification %>

      <%= form.input :password, required: true, input_html: {class: 'form-control'} %>
      <%= form.input :password_confirmation, input_html: {class: 'form-control'} %>

      <div class="form-group">
        <div class="actions col-xs-sm-12">
          <%= link_to "Cancel", root_path, class: "btn btn-default" %>
          <%= form.submit "Change Password", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
