.container
  .col-xs-12
    %h1.form-title Reset Password

    = form_tag password_resets_path, class: 'form-horizontal', role: 'form' do
      .form-group
        .col-xs-12.col-sm-4
          = label_tag :email
        .col-xs-12.col-sm-8
          = email_field_tag :email, nil, class: 'form-control'
      .form-group
        .actions.col-xs-sm-12
          = link_to "Cancel", login_path, class: "btn btn-default"
          = submit_tag "Reset Password", class: "btn btn-primary"
