<div class="container profile memories">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Search results</h1>

      <div class="actions clearfix">
        <div class="viewingInfo">
          <strong>Found</strong>
          <span class="button memories teal"><%= pluralize(@results.memory_count, 'memory') %></span>
          <%= link_to pluralize(@results.scrapbook_count, 'scrapbook'), search_scrapbooks_path(query: params[:query]), class: 'button scrapbooks inactive counter', id: 'view_scrapbook_results' %>
        </div>
      </div>
    </header>

    <% if @memories.empty? -%>
      <div class="no-results">
        <%= image_tag 'empty-scrapbook.png' %>
        <p>Sorry, but we couldn't find any results for "<%= @results.query %>"</p>
      </div>
    <% else -%>
      <%= render partial: 'memories/index', locals: {memories: @memories} %>
    <% end -%>
  </div>
</div>
