<div class="container profile memories">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Found <%= pluralize(@memories.total_count, 'match') %> for "<%= truncate(params[:query], length: 30) %>"</h2>
      <%= link_to 'Search scrapbooks', search_scrapbooks_path(query: params[:query]), class: 'button scrapbooks' %>
    </header>

    <% if @memories.empty? -%>
      <div class="no-results">
        <%= image_tag 'empty-scrapbook.png' %>
        <p>Sorry, but we couldn't find any results for "<%= params[:query] %>"</p>
      </div>
    <% else -%>
      <%= render partial: 'memories/index', locals: {memories: @memories} %>
    <% end -%>
  </div>
</div>
