<div class="container">
  <%= render 'admin/shared/tabs', active_tab: :cms %>

  <h1>Home Pages</h1>

  <%= link_to 'Add a new home page', new_admin_cms_home_page_path, class: 'button green home-pages__add-button' %>

  <table class="table table-striped table-responsive home-pages items">
    <thead>
      <th>Featured memory title</th>
      <th>Created at</th>
      <th>Last updated at</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @home_pages.each do |home_page| %>
        <tr class="home-page">
          <td class="t-title">
            <%= link_to home_page.featured_memory.title, admin_cms_home_page_path(home_page) %>
          </td>
          <td class="t-created-at"><%= formatted_date(home_page.created_at, '%d-%b-%Y %H:%M') %></td>
          <td class="t-updated-at"><%= formatted_date(home_page.updated_at, '%d-%b-%Y %H:%M') %></td>
          <td class="t-actions">
            <% if home_page.published? %>
              <span class="home-page_status--live">LIVE</span>
            <% else %>
              <%= link_to 'Publish', publish_admin_cms_home_page_path(home_page), method: :patch, class: 'button green small home_pages__publish-button' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
