<div class="container <%= action_name %>">
  <div class="row">
    <h1>Scrapbooks</h1>
    <%= link_to 'Back to Inbox', admin_home_path %>
    |
    <%= link_to_unless action_name == 'index', 'Unmoderated', admin_moderation_scrapbooks_path %>
    |
    <%= link_to_unless action_name == 'moderated', 'Moderated', moderated_admin_moderation_scrapbooks_path %>

    <table class="items table table-striped table-responsive">
      <thead>
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Owner</th>
          <th>Last Moderated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr class='item'>
            <td><%= item.title %></td>
            <td class="<%= item.moderation_state %>"><%= item.moderation_state %></td>
            <td><%= item.user.email %></td>
            <td><%= item.last_moderated_at.try(:strftime, "%d-%b-%Y %H:%M") %></td>
            <td><%= link_to 'View details', admin_moderation_scrapbook_path(item.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

