<div id="scrapbooks" class="container profile scrapbooks">
  <%= render partial: 'shared/profile_header', locals: {requested_user: @requested_user} %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2><%= @requested_user.screen_name.possessive %> scrapbooks</h2>
      <div class="actions">
        <div class="viewingInfo">
          <strong>Browse</strong>
          <%= link_to user_memories_path(user_id: @requested_user.id), :class => "button memories inactive"  do %>
            <%= pluralize(@requested_user.memories.publicly_visible.size, 'memory') %>
          <% end %>

          <span class="button scrapbooks"><%= pluralize(@presenter.scrapbooks_count, 'scrapbook') %></span>
        </div>

        <% if logged_in? and @requested_user == current_user -%>
          <%= link_to 'Create a scrapbook', '#', id: 'create-scrapbook-button', class: 'button scrapbooks float-right', data: {toggle: 'modal', target:'#create-scrapbook-modal'} %>
          <%= render partial: 'memories/create_scrapbook' %>

          <script type="text/javascript">
            var createScrapbookController = new CreateScrapbookController();
          </script>
        <% end -%>
      </div>
    </header>

    <%= render partial: 'scrapbooks/index', locals: {presenter: @presenter, show_path: scrapbooks_path} %>
  </div>
</div>
