<div class="container">
  <%= render 'admin/shared/tabs', active_tab: :moderation %>

  <div class="admin-toolbar">
    <%= render partial: 'shared/state_bar', locals: {moderatable: @user} %>

    <ul class="moderation-actions">
      <% unless @user.unmoderated? %>
        <li>
          <%= link_to "Unmoderate",
                      unmoderate_admin_moderation_user_path(@user),
                      method: :put,
                      data: {confirm: 'Are you sure?'},
                      class: 'button--new button--medium button--unmoderate' %>
        </li>
      <% end %>
      <% unless @user.moderation_state == 'approved' %>
        <li>
          <%= link_to "Approve",
                      approve_admin_moderation_user_path(@user),
                      method: :put,
                      data: {confirm: 'Are you sure?'},
                      class: 'button--new button--medium button--approve' %>
        </li>
      <% end %>
      <% unless @user.blocked? %>
        <li>
          <%= link_to "Block",
                      block_admin_moderation_user_path(@user),
                      method: :put,
                      data: {confirm: 'Are you sure?'},
                      class: 'button--new button--medium button--danger' %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Back to list', admin_moderation_users_path, class: 'button--new button--medium button--default' %>
      </li>
    </ul>
  </div>

  <%= render 'users/profile', user: @user, show_actions: false %>
</div>
