<ul class="admin-toolbar">
  <li class="state <%= memory.current_state %>">
    <%= state_label(memory) %>
  </li>
  <ul class="moderation-actions">
    <%= button_for_state('unmoderate', 'unmoderated', memory) %>
    <%= button_for_state('approve', 'approved', memory) %>
    <%= button_for_state('reject', 'rejected', memory, 'unsuitable') %>
    <%= button_for_state('reject', 'rejected', memory, 'offensive') %>
    <li>
      <%= link_to 'Back to list', current_memory_index_path, class: 'btn btn-default' %>
    </li>
  </ul>
</ul>

