<div class="admin-toolbar">
  <%= render partial: 'shared/state_bar', locals: {moderatable: moderatable} %>

  <ul class="moderation-actions">
    <%= button_for_state('unmoderate', 'unmoderated', moderatable, moderatable_name) %>
    <%= button_for_state('approve', 'approved', moderatable, moderatable_name) %>
    <%= button_for_state('reject', 'rejected', moderatable, moderatable_name, 'unsuitable') %>
    <%= button_for_state('reject', 'rejected', moderatable, moderatable_name, 'offensive') %>
    <li>
      <%= link_to 'Back to list', list_path, class: 'btn btn-default' %>
    </li>
  </ul>
</div>
