<h1>Moderation Inbox</h1>

<div class="container">
  <div class="row">
    <div class="memories">
      <% @memories.each do |memory| %>
        <div class="memory moderation" data-id="<%= memory.id %>">
          <div class="actions">
            <ul>
              <li>
                <%= link_to 'Approve', admin_approve_memory_path(memory), class: "approve btn btn-success" %>
              </li>
              <li>
                <%= link_to 'Reject - unsuitable', admin_reject_memory_path(memory), data: {reason: 'unsuitable'}, class: "reject btn btn-danger" %>
              </li>
              <li>
                <%= link_to 'Reject - offensive', admin_reject_memory_path(memory), data: {reason: 'offensive'}, class: "reject btn btn-danger" %>
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="media">
              <%= image_tag cache_busted_url(memory, :thumb) %>
            </div>
            <div class="info">
              <h2><%= memory.title %></h2>
              <p><%= memory.description %></p>
              <p><%= memory.location %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  new Moderator();
</script>

