<div class="form-group" aria-required="true">
  <div class="formRow">
    <%= form.label :first_name, class: 'control-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
    <% user.errors[:first_name].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>

<% unless user.is_group? -%>
  <div class="form-group user_last_name" aria-required="true">
    <div class="formRow">
      <%= form.label :last_name, class: "control-label" %>
      <%= form.text_field :last_name, class: 'form-control' %>
      <% user.errors[:last_name].each do |error| %>
        <span class="help-block"><%= error %></span>
      <% end -%>
    </div>
  </div>
<% end -%>

<div class="form-group" aria-required="true">
  <div class="formRow">
    <%= form.label :email, class: "control-label" %>
    <%= form.email_field :email, class: 'form-control' %>
    <% user.errors[:email].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>

<div class="form-group" aria-required="true">
  <div class="formRow">
    <%= form.label :screen_name, class: "control-label" %>
    <%= form.text_field :screen_name, class: 'form-control' %>
    <% user.errors[:screen_name].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>

<div class="form-group">
  <div class="formRow">
    <%= form.label :description, class: "control-label" %>
    <%= form.text_area :description, class: 'form-control' %>
    <% user.errors[:description].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>

<div class="form-group">
  <h3>Links</h3>
  <%= form.fields_for :links do |link_fields| %>
    <div class="formRow">
      <fieldset>
        <%= link_fields.label :name, class: "control-label" %>
        <%= link_fields.text_field :name, class: 'form-control' %>
        <% link_fields.object.errors[:name].each do |error| -%>
          <span class="help-block"><%= error %></span>
        <% end -%>

        <%= link_fields.label :url, class: "control-label" %>
        <%= link_fields.text_field :url, class: 'form-control' %>
        <% link_fields.object.errors[:url].each do |error| -%>
          <span class="help-block"><%= error %></span>
        <% end -%>

        <% if link_fields.object.persisted? -%>
          <div class="actions">
            <%= link_fields.link_to_remove "Delete", class: "button small red" %>
          </div>
        <% end -%>
      </fieldset>
    </div>
  <% end %>
  <%= form.link_to_add "Add another", :links, class: "button small" %>
</div>
