<div class="form-group" aria-required="true">
  <div class="formRow">
    <%= form.label :password, class: "control-label" %>
    <%= form.password_field :password, class: 'form-control' %>
    <% user.errors[:password].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>

<div class="form-group" aria-required="true">
  <div class="formRow">
    <%= form.label :password_confirmation, class: "control-label" %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
    <% user.errors[:password_confirmation].each do |error| %>
      <span class="help-block"><%= error %></span>
    <% end -%>
  </div>
</div>