.container
  .col-xs-12
    %h1 Sign Up

    = form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f|
      -if @user.errors.any?
        #error_explanation
          %h2 Please correct the following ...
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        .col-xs-12.col-sm-4
          = f.label :first_name
        .col-xs-12.col-sm-8
          = f.text_field :first_name, class: 'form-control'
      .form-group
        .col-xs-12.col-sm-4
          = f.label :last_name
        .col-xs-12.col-sm-8
          = f.text_field :last_name, class: 'form-control'
      .form-group
        .col-xs-12.col-sm-4
          = f.label :email
        .col-xs-12.col-sm-8
          = f.email_field :email, class: 'form-control'
      .form-group
        .col-xs-12.col-sm-4
          = f.label :password
        .col-xs-12.col-sm-8
          = f.password_field :password, class: 'form-control'
      .form-group
        .col-xs-12.col-sm-4
          = f.label :password_confirmation
        .col-xs-12.col-sm-8
          = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        .actions.col-xs-sm-12
          = link_to "Cancel", root_path, class: "btn btn-default"
          = f.submit "Sign Up", class: "btn btn-primary"
