<div class="container">
  <header id="formHeader" class="row">
  </header>

  <div id="signUp" class="formWrapper row">
    <div id="formPanel" class="col-md-6">

      <h1 class="form-title">Sign up for an account</h1>

      <%= nested_form_for @user, url: signup_path, html: {class: 'form-horizontal', role: 'form'} do |form| %>
        <div class="form-group">
          <div id="user_is_group" class="form-group">
            <div id="user_is_group_label" class="col-sm-5">
              <%= form.label :is_group, class: 'control-label' %>
            </div>
            <div class="col-sm-7">
              <%= form.collection_radio_buttons(:is_group, [[false, 'An individual'], [true, 'A group']], :first, :last) do |b|
                    b.label(class: "collection_radio_buttons") { b.radio_button + " #{b.text}" }
                  end %>
            </div>
            <% @user.errors[:is_group].each do |error| %>
              <span class="help-block"><%= error %></span>
            <% end -%>
          </div>
        </div>

        <%= render partial: 'users/details_form', locals: {form: form, user: @user} %>

        <%= render partial: 'users/password_form', locals: {form: form, user: @user} %>

        <div class="form-group t_and_c" aria-required="true">
          <div class="formRow">
            <label for="user_accepted_t_and_c">
              <%= form.check_box :accepted_t_and_c %>
              I accept the
              <a class="underlined" href="" data-toggle="modal" data-target="#t_and_c">Terms and Conditions</a>
            </label>
            <% @user.errors[:accepted_t_and_c].each do |error| %>
              <span class="help-block"><%= error %></span>
            <% end -%>
          </div>
        </div>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= link_to "Cancel", root_path, class: "button cancel" %>
            <%= form.submit "Sign up", class: "button green" %>
          </div>
        </div>
      <% end -%>
    </div>

    <div id="extraPanel" class="col-md-6">
      <div id="signposting">
        <h3>Already have an account?</h3>
        <a href="/signin" class="green button">Sign in now</a>
      </div>

      <ul class="help-tips">
        <li><span class="glyphicon glyphicon-info-sign"></span>All fields marked with a <span class="required">*</span> are required.</li>
        <li><span class="glyphicon glyphicon-info-sign"></span>Password must be 3 characters or more.</li>
        <li><span class="glyphicon glyphicon-info-sign"></span>Your first name, last name and email are not visible to others on the site. Only your username is used to identify you.</li>
        <li><span class="glyphicon glyphicon-info-sign"></span>You must accept the <a class="underlined" href="" data-toggle="modal" data-target="#t_and_c">Terms and Conditions</a> in order to sign up for an account.
        </li>
      </ul>
    </div>

  </div>

  <div class="modal fade" id="t_and_c" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Terms and conditions</h1>
        </div>
        <div class="modal-body">
          <div id="t_and_c_content" style="height: 250px; overflow: scroll">
            <%= render partial: 'static/t_and_c_text' %>
          </div>
        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var initForm = function (e) {
    $('#user_is_group input[type="radio"]').on('change', function (e) {
      var label = $('label[for="user_first_name"]');
      if ( isGroup() ) {
        label.html('Group name');
        $('.user_last_name').hide()
      } else {
        label.html('First name');
        $('.user_last_name').show()
      }
    })
    $('#user_is_group input[type="radio"]').first().trigger('change');
  };

  var isGroup = function () {
    var result = $('input[name="user[is_group]"]:checked').attr('id') === 'user_is_group_true';
    return result;
  };

  $(document).ready(initForm);
  $(document).on('page:load', initForm);
</script>
