<div class="container profile memories filter">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Tag "<%= params[:tag] %>"</h1>

      <div class="actions clearfix">
        <div class="viewingInfo">
          Found <strong><%= pluralize(@memories.total_count, 'memory') %></strong>
        </div>
      </div>
    </header>

    <% if @memories.empty? -%>
      <div class="no-results">
        <%= image_tag 'empty-scrapbook.png' %>
        <p>Sorry, but we couldn't find any approved memories marked with tag <strong>"<%= params[:tag] %>"</strong></p>
      </div>
    <% else -%>
      <%= render partial: 'memories/index', locals: {memories: @memories} %>
    <% end -%>
  </div>
</div>
