<div id="image-editor" class="<%= display_class %> new" data-show="<%= image_url.present? %>">
  <section id="image-area">
    <div class="progress"><div class="bar"></div></div>
    <p class="errors"></p>
    <div id="image-rotation-box">
      <%= image_tag image_url, class: "no-max-width", alt: "uploaded image" %>
    </div>
  </section>
  <footer>
    <div class="controls">
      <a data-action="rotateLeft" class="rotate">
        <span class="accessible-label">Rotate anti-clockwise</span>
        <span class="glyphicon glyphicon-repeat mirror"></span>
      </a>
      <a data-action="zoomIn" class="zoom">
        <span class="glyphicon glyphicon-zoom-in"></span>
        <span class="accessible-label">Zoom in</span>
      </a>
      <a data-action="zoomOut" class="zoom">
        <span class="glyphicon glyphicon-zoom-out"></span>
        <span class="accessible-label">Zoom out</span>
      </a>
      <a data-action="rotateRight" class="rotate">
        <span class="accessible-label">Rotate clockwise</span>
        <span class="glyphicon glyphicon-repeat"></span>
      </a>
      <%= form.hidden_field :image_angle, data: {attr: 'angle'} %>
      <%= form.hidden_field :image_scale, data: {attr: 'scale'} %>
      <%= form.hidden_field :image_w, data: {attr: 'w'} %>
      <%= form.hidden_field :image_h, data: {attr: 'h'} %>
      <%= form.hidden_field :image_x, data: {attr: 'x'} %>
      <%= form.hidden_field :image_y, data: {attr: 'y'} %>
    </div>
  </footer>
</div>
