<header id="profileHeader" class="clearfix">

  <% if requested_user == current_user -%>

    <%= link_to my_profile_path, class: "userAvatar" do %>
      <span class="accessible-label">View your profile</span>
      <%= image_tag requested_user.avatar_url, class: 'avatar' %>
    <% end -%>
    <h1 class="title">
      <%= requested_user.try(:screen_name) %>
      <%= link_to 'Edit', my_profile_edit_path, class: 'button navy' %>
    </h1>

  <% else -%>

    <%= image_tag requested_user.avatar_url, class: 'avatar' %>

    <h1 class="title">
      <%= requested_user.try(:screen_name) %>
    </h1>

  <% end -%>

  <p class="sub"><%= requested_user.description %></p>

  <%= render partial: 'users/links', locals: {requested_user: requested_user} %>

</header>

