<div id="homeContent" class="container">

  <div id="heroImage">
    <div id="cta">
      <h1>Share your memories and make history</h1>

      <div class="buttons">
        <a href="signup" class="button green">Get started</a>
        <a href="memories" class="button blue">Browse memories</a>
      </div>
    </div>

    <figure class="tint">
      <%= image_tag @home_page_presenter.hero_image_path %>
    </figure>

    <div id="imageInfo">
      <p><%= @home_page_presenter.featured_memory.title %></p>
      <p>
        <small>
          <strong><%= @home_page_presenter.featured_memory.year %></strong>
          added by
          <%= link_to @home_page_presenter.featured_memory.user.screen_name,
                      @home_page_presenter.user_memories_url %>
        </small>
      </p>
    </div>
  </div>

  <h2 id="descriptionText">Edinburgh Collected is a community archive of Edinburgh memories</h2>

  <div id="featuredScrapbook" class="container">
    <header>
      <h3>Save your favourite memories in a scrapbook</h3>
    </header>

    <div id="images" class="clearfix">
      <div class="spinner"></div>
      <div class="inner clearfix initial">
        <% @home_page_presenter.featured_scrapbook_memories.each do |sbm| %>

          <%= link_to @home_page_presenter.memory_url(sbm.id), class: "item", title: "View memory details" do %>
            <%= image_tag sbm.source_url(:thumb), alt: sbm.title %>
          <% end %>

        <% end %>
      </div>
    </div>

    <footer class="container">
      <div class="col-md-8">
        <strong><%= @home_page_presenter.featured_scrapbook.title %></strong>
        <br>
        A scrapbook by
        <em>
          <%= link_to @home_page_presenter.featured_scrapbook.user.screen_name,
                      @home_page_presenter.user_scrapbooks_url %>
        </em>
      </div>

      <div class="col-md-4">
        <%= link_to 'View scrapbook',
                    @home_page_presenter.scrapbook_url,
                    class: "button scrapbooks view-scrapbook" %>
      </div>
    </footer>
  </div>
</div>

<script type="text/javascript">
  $(".spinner").spin();

  var $imageContainer = $('#images .inner')

  $imageContainer.on('didFinishSettingHeights', function () {
    $(".spinner").spin(false);
    $(this).removeClass('initial');
  });

  $imageContainer.waitForImages(function () {
    var minHeight = 210,
        maxHeight = 310,
        justified = new Justified(this, minHeight, maxHeight);

    $(window).on('resize', function (e) { justified.setHeight() });

    justified.setHeight();
  });
</script>
