<div id="homeContent" class="container">

  <div id="contentModules" class="row">

   <div id="siteDescription" class="col-md-4 col-sm-4">
    <div class="module">
     <%= image_tag 'Pod-1-Newton-Street-Coronation-Party-Edinburgh.jpg', alt: "Newton Street Coronation Party, Edinburgh" %>
     <h1>Create history...</h1>
     <p><%= t '.about', app_name: APP_NAME, city: CITY %></p>
      <a href="signup" class="button green">Get started</a>
    </div>
   </div>

   <div id="featuredMemory" class="col-md-4  col-sm-4">
    <div class="module">
     <%= image_tag 'Pod-2-Olympic-Torch-on-George-IV-Bridge.jpg', alt: "Olympic Torch on George IV Bridge" %>
     <h3>Olympic Torch on George IV Bridge</h3>
     <p>Crowds line the street to watch the Olympic torch passing.</p>
      <a href="memories" class="button blue">Browse more memories</a>
    </div>
   </div>

   <div id="joinES" class="col-md-4  col-sm-4">
    <div class="module">
     <%= image_tag 'Pod-3-Granny-dancing.jpg', alt: "Granny Dancing" %>
     <h3>Featured memory</h2>
      <p>This is a photo of my granny who was a very good Highland dancer and won a lot of medals. The man in the photo is her uncle who played the fiddle.</p>       <a href="memories/213" class="button blue">View featured memory</a>

   </div>
   </div>

  </div>

  <div id="featuredScrapbook" class="row">
    <div class="col-md-3  col-sm-3 col-xs-12 scrapbookInfo">
      <h2><%= t '.scrapbook', city: CITY %></h2>

      <h3>Featured scrapbook</h3>
      <p><em>James Thomson & Sons Ltd., Licensed Grocer & Victualler</em></p>

      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/10" class="button teal desktop">View this Scrapbook</a>
    </div>

    <div class="col-md-9  col-sm-9  col-xs-12"><div class="spinner"></div></div>
    <div class="scrapbooks-container">
      <div id="scrapbookImages" class="col-sm-9 col-xs-12">
       <div class="grid-sizer"></div>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/185">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/185/thumb_0a424551-ed63-487a-a3fc-f9dc08ac38f0.jpeg?1416186543" />
       </a>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/184">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/184/thumb_af5b86d4-1742-41e7-9829-74b7d097d87f.jpeg?1416189799" />
       </a>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/183">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/183/thumb_ebca7dff-cd19-4040-bf2f-fcb238753e3d.jpeg?1416185345" />
       </a>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/182">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/182/thumb_5dfbcb4f-3509-49c6-9cb5-1c415eecc1b3.jpeg?1416185295" />
       </a>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/181">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/181/thumb_e245c658-4944-4d3b-9038-0f204d77d888.JPG?1416190117" />
       </a>

       <a class="item" href="http://edinburgh-stories.herokuapp.com/memories/180">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/180/thumb_71e5281f-92d5-4b2a-9a9d-959ce497eb15.jpg?1416185458" />
       </a>
      </div>
      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/10" class="button teal mobile">View this Scrapbook</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".item-loading-spinner .spinner").spin();
</script>
