<div class="container profile scrapbooks">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Search results</h1>

      <div class="actions clearfix">
       <div class="viewingInfo">
         <strong>Found</strong>
         <%= link_to pluralize(@results.memory_count, 'memory'), search_memories_path(query: params[:query]), class: 'button memories inactive' %>
         <span class="button scrapbooks coral"><%= pluralize(@results.scrapbook_count, 'scrapbook') %></span>
       </div>
      </div>
    </header>

    <% if @results.scrapbook_count > 0 -%>
      <%= render partial: 'scrapbooks/index', locals: {presenter: @presenter, show_path: search_scrapbooks_path(query: params[:query])} %>
    <% else -%>
      <div class="no-results">
        <%= image_tag 'empty-scrapbook.png' %>
        <p>Sorry, but we couldn't find any approved scrapbooks for "<%= @results.query %>"</p>
      </div>
    <% end -%>
  </div>
</div>
