.container
  = link_to "Back", :back

  .asset.full
    %h1.title= @asset.title

    %img{src: @asset.url, alt: @asset.title, title: @asset.title}

    %h2 Details

    %ul
      %li.file_type
        %strong File Type:
        =@asset.file_type
      %li.date
        %strong Dates from:
        = @asset.date
      %li.description
        %strong Description:
        = @asset.description
      %li.attribution
        %strong Attribution:
        = @asset.attribution
