<div class="modal fade" id="add-to-scrapbook-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="errors"></div>
        <h4>Select scrapbook</h4>
        <div class="scrapbook_selector select">
          <%= render partial: 'scrapbooks/selector', locals: {current_user: current_user} %>
        </div>
        or
        <button id="create-scrapbook-button" class="btn btn-primary" data-toggle="modal" data-target="#create-scrapbook-modal">
          Create a new scrapbook
        </button>
      </div>
      <div class="modal-footer">
        <%= form_tag my_scrapbook_memories_path, remote: true, id: 'add-to-scrapbook', class: 'minimal' do %>
          <%= hidden_field_tag "scrapbook_memory[scrapbook_id]" %>
          <%= hidden_field_tag "scrapbook_memory[memory_id]" %>
          <a href="#" class="cancel btn btn-default" data-dismiss="modal">Cancel</a>
          <button class="save btn btn-primary">Add to scrapbook</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>
<%= render partial: 'memories/after_add_to_scrapbook' %>

<script type="text/javascript">
  $(document).ready(function () {
    var addToScrapbookController = new AddToScrapbookController();
    addToScrapbookController.init();
  });
</script>

