<div class="modal fade" id="create-scrapbook-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :scrapbook, url: my_scrapbooks_path, remote: true, html: {class: 'form-horizontal', id: 'create-scrapbook'} do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Create a new scrapbook</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-4">
              <%= f.label :title, class: "string control-label" %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <%= f.label :description, class: "string control-label" %>
            </div>
            <div class="col-sm-8">
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="cancel-create-scrapbook" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="save btn btn-primary">Create scrapbook</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

