.memory.full
  %h1.title= @memory.title
  %h2.sub= sub_text(@memory)

  .row

    .photo.col-sm-6
      %img{src: cache_busted_url(@memory), alt: @memory.title, title: @memory.title}

      %p= @memory.description
      %p= @memory.attribution

    .col-sm-6

      .memory-meta

        %p.views This photo has been viewed XX times
        %p.saved This photo has been saved to XX scrapbooks

        = link_to "Add to scrapbook +", '#', class: "btn btn-default not-implemented"
        = link_to "Share this photo", '#', class: "btn btn-default not-implemented"


        %h3 Categories
        %p= @memory.category_list

        %h3 Tags

        %ul
          -@memory.tags.each do |tag|
            %li=tag.name

