.memory.full
  %h1.title= @memory.title

  %img{src: @memory.source_url, alt: @memory.title, title: @memory.title}

  %h2 Details

  %ul
    %li.type
      %strong Type:
      = @memory.type
    %li.date
      %strong Dates from:
      = @memory.date
    %li.address
      %strong Address:
      = @memory.address
    %li.longitude
      %strong Longitude:
      = @memory.longitude
    %li.latitude
      %strong Latitude:
      = @memory.latitude
    %li.description
      %strong Description:
      = @memory.description
    %li.attribution
      %strong Attribution:
      = @memory.attribution
    %li.categories
      %strong Categories:
      = @memory.category_list

