<div class="memory full">
  <header>
    <a href="#" class="userAvatar"><%= image_tag "avatar.png" %></a>
    <h1 class="title"><%= @memory.title %></h1>
    <p class="sub"><%= @memory.date_string %></p>
  </header>
  <div class="clearfix">
    <div class="photo col-sm-8">
      <img src="<%= cache_busted_url(@memory) %>" alt="<%= @memory.title %>" title="<%= @memory.title %>" />

      <p id="memory-description"><%= @memory.description %></p>
      <p id="memory-attribution"><%= @memory.attribution %></p>
    </div>

    <div class="col-sm-4">

      <div class="memory-meta">
        <%= render partial: 'memories/state_label', locals: {memory: @memory} %>

        <p class="views not-implemented">This has been viewed <strong>XX</strong> times</p>
        <% scrapbook_count = @memory.scrapbooks.count %>
        <p class="saved">This has been added to <span id="scrapbook-count"><%= scrapbook_count %></span> <span id="scrapbook-text"><%= 'scrapbook'.pluralize(scrapbook_count) %></span></p>

        <span class="buttons">
          <% if logged_in? %>
            <%= link_to "Add to scrapbook +", '#', class: "btn btn-default", data: {toggle: 'modal', target: '#add-to-scrapbook-modal'} %>
          <% else %>
            <br />
            <div>
              <p>If you would like to add this to a Scrapbook, please</p>
              <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary' %>
              or
              <%= link_to 'Sign In', signin_path, class: 'btn btn-primary' %>
            </div>
            <br />
          <% end %>
          <%= link_to "Share this photo", '#', class: "btn btn-default not-implemented" %>
          <% edit_path ||= edit_my_memory_path(@memory.id) %>
          <% delete_path ||= my_memory_path(@memory.id) %>
          <% if current_user.try(:can_modify?, @memory) %>
            <%= link_to "Edit this memory", edit_path, :class => "btn btn-default" %>
            <%= link_to "Delete this memory",  delete_path, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger"%>
          <% end %>
        </span>


        <div id="memory-owner">
          <h3>Owner</h3>
          <p><%= @memory.user.screen_name %></p>
        </div>


        <div id="memory-categories" class="search-buttons">
          <h3>Categories</h3>
          <ul>
            <% @memory.categories.each do |category| %>
              <li><a href="" class="btn btn-primary btn-xs"><%= category.name %></a></li>
            <% end %>
          </ul>
        </div>

        <div id="memory-tags" class="search-buttons">
          <h3>Tags</h3>
          <ul>
            <% @memory.tags.each do |tag| %>
              <li><a href="" class="btn btn-primary btn-xs"><%= tag.name %></a></li>
            <% end %>
          </ul>
        </div>

        <div id="memory-area" class="search-buttons">
          <h3><%= CITY %> area</h3>
          <% if @memory.area.present? -%>
            <a href="" class="btn btn-primary btn-xs"><%= @memory.area.name %></a>
          <% end -%>
        </div>

        <% if @memory.location.present? -%>
          <div id="memory-location">
            <h3>Location</h3>
            <p><%= @memory.location %></p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'memories/add_to_scrapbook', locals: {memory: @memory} %>
