.memory.full
  %h1.title= @memory.title
  %h2.sub= sub_text(@memory)

  .photo.col-sm-6
    %img{src: cache_busted_url(@memory), alt: @memory.title, title: @memory.title}

    %p= @memory.description
    %p= @memory.attribution

  .col-sm-6

    .memory-meta

      %p.views This photo has been viewed XX times
      %p.saved This photo has been saved to XX scrapbooks

      - if logged_in?
        = link_to "Add to scrapbook +", '#', class: "btn btn-default", data: {toggle: 'modal', target: '#add-to-scrapbook-modal'}
      - else
        %p If you'd like to add this photo to a scrapbook, please
        %p
          = link_to 'Sign Up', signup_path, class: 'btn btn-primary'
          or
          = link_to 'Sign In', signin_path, class: 'btn btn-primary'

      = link_to "Share this photo", '#', class: "btn btn-default not-implemented"

      %h3 Categories
      %p= @memory.category_list

      %h3 Tags

      %ul
        -@memory.tags.each do |tag|
          %li=tag.name

.modal.fade#add-to-scrapbook-modal(tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title= "Add #{@memory.title} to a scrapbook"
      .modal-body
        %h4 Select scrapbook
        .scrapbooks.select
          - if current_user
            - current_user.scrapbooks.sort{|a,b| b.updated_at<=>a.updated_at}.each do |scrapbook|
              .scrapbook(data-id="#{scrapbook.id}")
                .picture
                  - if scrapbook.memories.count == 0
                    %p &nbsp;
                  - else
                    = image_tag cache_busted_url(scrapbook.memories.first, :thumb)
                .details
                  .title= scrapbook.title
                  .count= scrapbook.memories.count
                  .updates= "Updated #{scrapbook.updated_at}"
        or
        %button#create-scrapbook.btn.btn-primary{data: {toggle: 'modal', target: '#create-scrapbook-modal'}} Create a new scrapbook
      .modal-footer
        = form_tag my_scrapbook_memories_path, remote: true, id: 'add-to-scrapbook', class: 'minimal' do
          = hidden_field_tag "scrapbook_memory[scrapbook_id]"
          = hidden_field_tag "scrapbook_memory[memory_id]", @memory.id
          %button.cancel(class="btn btn-default" data-dismiss="modal") Cancel
          %button.save(class="btn btn-primary") Add to scrapbook


.modal.fade#create-scrapbook-modal(tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      = form_for :scrapbook, url: my_scrapbooks_path, remote: true, html: {class: 'form-horizontal', id: 'create-scrapbook'} do |f|
        .modal-header
          %h4.modal-title= "Create a new scrapbook"
        .modal-body
          .form-group
            .col-sm-4
              = f.label :title
            .col-sm-8
              = f.text_field :title, class: 'form-control'
          .form-group
            .col-sm-4
              = f.label :description
            .col-sm-8
              = f.text_area :description, class: 'form-control'
        .modal-footer
          %button#cancel-create-scrapbook(class="btn btn-default" data-dismiss="modal") Cancel
          %button.save(class="btn btn-primary") Create scrapbook

:javascript
  $(document).ready(function () {

    $('#create-scrapbook').on('click', function (e) {
      e.preventDefault();
      $('#add-to-scrapbook-modal').modal('hide');
    });

    $("form#create-scrapbook").on("ajax:success", function (e, data, status, xhr) {
      var html = '<div class="scrapbook">';
      html    += '  <div class="picture"><p>&nbsp</p></div>';
      html    += '  <div class="details">';
      html    += '    <div class="title"></div>';
      html    += '    <div class="count">0</div>';
      html    += '    <div class="updates"></div>';
      html    += '  </div>';
      html    += '</div>';
      var scrapbook = $.parseHTML(html);
      $(scrapbook).attr('data-id', data.id);
      $(scrapbook).find('.title').text(data.title);
      $(scrapbook).find('.updates').text('Updated ' + data.updated_at);
      $('.scrapbooks').prepend(scrapbook);
      $('.scrapbooks .scrapbook').first().trigger('click');
      $('#create-scrapbook-modal').modal('hide');
      $('#add-to-scrapbook-modal').modal('show');
    }).on("ajax:error", function (e, data, status, xhr) {
      console.log("event: ", e);
      console.log("data: ", data);
      console.log("status: ", status);
    });

    $("form#add-to-scrapbook").on("ajax:success", function (e, data, status, xhr) {
      var html = '<div class="notice">This photo was added to your scrapbook "' + data.title + '" <a class="btn btn-default" href="/my/scrapbooks/' + data.id + '">View your scrapbook</a></div>';
      $('#add-to-scrapbook-modal').modal('hide');
      $('.flashes').html(html).show();
    }).on("ajax:error", function (e, data, status, xhr) {
      console.log("event: ", e);
      console.log("data: ", data);
      console.log("status: ", status);
    });

    $('#add-to-scrapbook-modal').on('shown.bs.modal', function() {
      $('.scrapbooks').scrollTop(0);
    })

    $('#cancel-create-scrapbook').on('click', function (e) {
      $('#add-to-scrapbook-modal').modal('show');
    });

    $('.scrapbooks').on('click', '.scrapbook', function (e) {
      $('.scrapbook').removeClass('selected')
      $(e.currentTarget).addClass('selected')
      $('form#add-to-scrapbook #scrapbook_memory_scrapbook_id').val($(e.currentTarget).data('id'))
    });
  });
