<div class="container">
  <header id="formHeader" class="row">
  </header>
  <div id="editMemoryForm" class="formWrapper row">
    <div id="formPanel" class="col-md-6">
      <h2 class="form-title">Edit details</h2>

      <%= form_for @memory, url: my_memory_path(@memory), html: {id: 'edit-memory', class: 'form-horizontal', role: 'form'} do |form| %>
        <img class="hide" id='memory_source' src="<%= cache_busted_url(@memory) %>" alt="<%= @memory.title %>" title="<%= @memory.title %>" />
        <%= render partial: 'image_editor', locals: {form: form} %>

        <%= render partial: 'details_form', object: @memory, locals: { form: form } %>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= link_to "Cancel", memory_path(@memory), class: "btn btn-default" %>
            <%= form.submit "Save", class: "btn btn-primary", disabled: true %>
          </div>
        </div>
      <% end -%>
    </div>
    <div class="col-md-6">
      <div id="infoPanel">

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    new Validator($('#edit-memory')).validate()
    src        = $('#memory_source').attr('src')
    editorEl   = $('#image-editor')[0]
    rotationEl = $('#memory_rotation')[0]
    new ImageEditor(editorEl, src, rotationEl)
  });
</script>

