<div class="container">
  <header id="formHeader" class="row">
  </header>
  <div id="editMemoryForm" class="formWrapper row">
    <div id="formPanel" class="col-md-6">
      <h1 class="form-title">Edit details</h1>

      <%= form_for @memory, url: my_memory_path(@memory), as: 'memory', builder: Judge::FormBuilder, html: {id: 'edit-memory', class: 'form-horizontal', role: 'form'} do |form| %>

        <% if @memory.photo? %>
          <img class="hide" id='memory_source' src="<%= cache_busted_url(@memory) %>" alt="<%= @memory.title %>" title="<%= @memory.title %>" />
          <%= render partial: 'image_editor', locals: {form: form, uploaded_image_url: @memory.source_url} %>
        <% end %>

        <%= render partial: 'details_form', object: @memory, locals: { form: form } %>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= form.submit "Save", class: "button memories" %>
            <%= link_to "Cancel", memory_path(@memory), class: "button cancel" %>
          </div>
        </div>
      <% end -%>
    </div>

    <div id="extraPanel" class="col-md-6">
      <div id="signposting">
        <div class="inner">

          <ul class="help-tips">
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              All fields marked with a <span class="required">*</span> are required
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              Some text fields have a maximum character limit (as indicated)
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              For more information, please see our <%= link_to "terms and conditions", t_and_c_path, class: 'underlined' %>.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var setupForm = function (e) {
    window.formValidator = new FormValidator();
    window.formValidator.labelLengthConstraints($('form#edit-memory'));

    editorEl   = $('#image-editor')[0];
    rotationEl = $('#memory_image_angle')[0];
    window.iec = new ImageEditorController(editorEl, rotationEl);
  };

  $(document).ready(setupForm);

  $('form#edit-memory').on('submit', function (e, formValid) {
    if (!formValid) {
      e.preventDefault();
      window.formValidator.validateForm(this, {
        onValid: function () {
          $('form#edit-memory').trigger('submit', true);
        }
      });
    }
  });

</script>

