<div class="container profile memories">
  <%= render partial: 'shared/profile_header' %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Browsing your memories</h2>
      <div class="actions clearfix">
       Viewing all:
        <span class="button memories"><%= current_user.memories.size %> Memories</span>

        <%= link_to my_scrapbooks_path, :class => "button scrapbooks inactive" do %>
          <span><%= current_user.scrapbooks.size %></span> Scrapbooks
        <% end %>


        <%= link_to 'Add a memory', new_my_memory_path, :class => "button float-right memories" %>
        <%= link_to 'Create a scrapbook', my_scrapbooks_path, :class => "button float-right scrapbooks" %>
      </div>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories, show_inline_add: true} %>


  </div>
</div>
