<div class="container">
 <header id="formHeader" class="row">
<!--
  <div class="step step1 col-md-4">
   <span>1</span> Choose the type of file
  </div>
  <div class="step step2 col-md-4">
   <span>2</span> Upload your memory
  </div>
  <div class="step step3 col-md-4">
   <span>3</span> Upload Complete
  </div>
 -->
 </header>

 <div id="newMemoryForm" class="formWrapper row">
  <div id="formPanel" class="col-md-6">
    <h1>Add a memory</h1>
      <%= simple_form_for @memory,
        as: :memory,
        url: my_memories_url,
        wrapper: :horizontal_form,
        wrapper_mappings: { file: :horizontal_file_input },
        html: {id: "add-memory", class: "form-horizontal", role: "form"} do |form| %>

        <%= form.error_notification %>

        <%= form.input :type, as: :select, collection: Memory.file_types, required: true, input_html: {class: 'form-control'} %>

        <%= form.input :source, as: :file %>

        <%= render partial: 'image_editor', locals: {form: form} %>

        <%= render partial: 'details_form', object: @memory, locals: {form: form} %>

        <div class="form-group">
          <div class="actions">
            <%= link_to "Cancel", current_memory_index_path, class: "btn btn-default" %>
            <%= form.button :submit, "Save And Add Another", class: "btn btn-primary", disabled: true %>
            <%= form.button :submit, "Save", class: "btn btn-primary", disabled: true %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div id="infoPanel">

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    new Validator($('form#add-memory')).validate();
    fileInputEl = $('#memory_source')[0]
    editorEl    = $('#image-editor')[0]
    rotationEl  = $('#memory_rotation')[0]
    new UploadedImageEditor(fileInputEl, editorEl, rotationEl);
  });
</script>
