<div class="container">
  <header id="formHeader" class="row">
    <!--
      <div class="step step1 col-md-4">
       <span>1</span> Choose the type of file
      </div>
      <div class="step step2 col-md-4">
       <span>2</span> Upload your memory
      </div>
      <div class="step step3 col-md-4">
       <span>3</span> Upload Complete
      </div>
     -->
  </header>

  <div id="newMemoryForm" class="formWrapper row">
    <div id="formPanel" class="col-md-6">

      <h1>Add a memory</h1>

      <%= form_for @memory, url: my_memories_path, as: 'memory', builder: Judge::FormBuilder, html: {id: 'add-memory', class: 'form-horizontal', role: 'form'} do |form| %>
        <div class="form-group" aria-required="true">
          <div class="formRow">
            <%= form.label :type, class: 'control-label' %>
            <%= form.select :type, Memory.file_types, {validate: true}, {class: 'form-control'} %>
          </div>
          <% @memory.errors[:type].each do |error| %>
            <span class="help-block"><%= error %></span>
        <% end -%>
        </div>

        <div class="form-group" aria-required="true">
          <div class="formRow">
            <%= form.label :source, class: 'control-label' %>
            <%= form.file_field :source, data: {max_size: Memory::MAX_FILE_SIZE} %>
            <%= form.hidden_field :source_cache %>
          </div>
          <% @memory.errors[:source].each do |error| %>
            <span class="help-block"><%= error %></span>
          <% end -%>
        </div>

        <%= render partial: 'image_editor', locals: {form: form, uploaded_image_url: @memory.source_url} %>

        <%= render partial: 'details_form', object: @memory, locals: {form: form} %>

        <div class="form-group">
          <div class="actions">
            <%= form.submit "Save", class: "button memories" %>
            <%= link_to "Cancel", current_memory_index_path, class: "button cancel" %>
          </div>
        </div>
      <% end -%>
    </div>

    <div id="extraPanel" class="col-md-6">
      <div id="signposting">
        <div class="inner">

          <ul class="help-tips">
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              All fields marked with a <span class="required">*</span> are required
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              Files must be of type .gif, .jpg, .jpeg or .png
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              Files must be less than <%= Memory::MAX_FILE_SIZE / 1024 / 1024 %> megabytes in size
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              Please note that we do not store image files at their original size
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              Some text fields have a maximum character limit (as indicated)
            </li>
            <li>
              <span class="glyphicon glyphicon-info-sign"></span>
              For more information, please see our <%= link_to "terms and conditions", t_and_c_path, class: 'underlined' %>.
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>

<%= render partial: 'save_prompt' %>

<script type="text/javascript">
  var showPrompt = true;

  var setupForm = function (e) {
    window.formValidator = new FormValidator();
    window.formValidator.labelLengthConstraints($('form#add-memory'));

    fileInputEl = $('#memory_source')[0]

    editorEl    = $('#image-editor')[0]
    rotationEl  = $('#memory_rotation')[0]
    window.iec = new ImageEditorController(editorEl, rotationEl);
    new UploadedImageEditor(fileInputEl, window.iec);
  };

  $(document).ready(setupForm);

  $('form#add-memory').on('submit', function (e) {
    if (showPrompt) {
      e.preventDefault();
      window.formValidator.validateForm(this, {
        onValid: function () { $('#save-prompt').modal(); }
      });
    }
  });

  var commitWith = function (commitValue) {
    showPrompt = false;
    $('form#add-memory')
      .append('<input type="hidden" name="commit" value="' + commitValue + '">')
      .submit();
  };

  $('#yes').on('click', function (e) {
    e.preventDefault();
    commitWith('Save And Add Another');
  });

  $('#no').on('click', function (e) {
    e.preventDefault();
    commitWith('Save');
  });
</script>
