<div class="container">
  <div class="row">
    <h1>Users</h1>

    <div role="navigation" id="tab-bar">
      <%= link_to 'Back to Inbox', admin_home_path %>
      |
      <%= link_to_unless action_name == 'index', 'Show all', send("admin_users_path") %>
      |
      <%= link_to_unless action_name == 'blocked', 'Show blocked', send("blocked_admin_users_path") %>
    </div>

    <table class="users table table-striped table-responsive">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Active?</th>
          <th>Group?</th>
          <th>Blocked?</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class='user'>
            <td><%= link_to user.screen_name, admin_user_path(user) %></td>
            <td><%= user.name %></td>
            <td><%= mail_to user.email %></td>
            <td><%= user.active? %></td>
            <td><%= user.is_group? %></td>
            <td><%= user.is_blocked? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>