<div class="container">
  <div id="profile" class="row static">
    <div id="detailsPanel" class="col-sm-6">
      <header>
        <% if @user.is_blocked? -%>
          <div class="blocked">Blocked</div>
        <% end -%>
        <span class="userAvatar"><%= image_tag @user.avatar_url %></span>
        <h1 class="title"><%= @user.screen_name %></h1>
      </header>

      <p>
        <strong><%= user_name_label(@user) %>:</strong> <%= @user.first_name %>
      </p>

      <% unless @user.is_group? %>
        <p>
          <strong>Last name:</strong> <%= @user.last_name %>
        </p>
      <% end %>

      <p>
        <strong>Email:</strong> <%= @user.email %>
      </p>

      <p><strong>Bio:</strong></p>
      <p><%= @user.description %></p>

      <%= render partial: 'users/links', locals: {requested_user: @user} %>

      <div class="actions">
        <%= user_list_button_for(@user) %>
        <%= block_toggle_button_for(@user) %>
      </div>
    </div>

    <div id="infoPanel" class="col-sm-6">
    </div>
  </div>
</div>
