<h1>Moderation Inbox</h1>

<div class="container <%= action_name %>">
  <div class="row">
    <% if action_name == 'moderated' %>
      <%= link_to 'Unmoderated', admin_moderation_memories_path %>
      | Moderated
    <% else %>
      Unmoderated |
      <%= link_to 'Moderated', moderated_admin_moderation_memories_path %>
    <% end %>

    <table class="memories">
      <% @memories.each do |memory| %>
        <tr class="memory moderation" data-id="<%= memory.id %>">
          <td class="actions">
            <ul>
              <% if action_name == 'moderated' %>
                <li>
                  <%= link_to 'Unmoderate', unmoderate_admin_moderation_memory_path(memory), class: "unmoderate btn btn-primary" %>
                </li>
                <li>
                  <%= link_to 'View details', admin_moderation_memory_path(memory), class: "btn btn-default" %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Approve', approve_admin_moderation_memory_path(memory), class: "approve btn btn-success" %>
                </li>
                <li>
                  <%= link_to 'Reject - unsuitable', reject_admin_moderation_memory_path(memory), data: {reason: 'unsuitable'}, class: "reject btn btn-danger" %>
                </li>
                <li>
                  <%= link_to 'Reject - offensive', reject_admin_moderation_memory_path(memory), data: {reason: 'offensive'}, class: "reject btn btn-danger" %>
                </li>
                <li>
                  <%= link_to 'View details', admin_moderation_memory_path(memory), class: "btn btn-default" %>
                </li>
              <% end %>
            </ul>
          </td>
          <td class="details">
            <div class="status <%= memory.current_state %>">
              <%= memory.current_state.capitalize %>
              <% if memory.current_state_reason %>
                (<%= memory.current_state_reason %>)
              <% end %>
            </div>
            <div class="media">
              <%= image_tag cache_busted_url(memory, :thumb) %>
            </div>
            <div class="info">
              <h2><%= memory.title %></h2>
              <p><%= memory.description %></p>
              <p><%= memory.location %></p>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  new Moderator();
</script>

