<h1>Moderation Inbox</h1>

<div class="container">
  <div class="row">
    <table class="memories">
      <% @memories.each do |memory| %>
        <tr class="memory moderation" data-id="<%= memory.id %>">
          <td class="actions">
            <ul>
              <li>
                <%= link_to 'Approve', approve_admin_moderation_memory_path(memory), class: "approve btn btn-success" %>
              </li>
              <li>
                <%= link_to 'Reject - unsuitable', reject_admin_moderation_memory_path(memory), data: {reason: 'unsuitable'}, class: "reject btn btn-danger" %>
              </li>
              <li>
                <%= link_to 'Reject - offensive', reject_admin_moderation_memory_path(memory), data: {reason: 'offensive'}, class: "reject btn btn-danger" %>
              </li>
              <li>
                <%= link_to 'View details', admin_moderation_memory_path(memory), class: "btn btn-default" %>
              </li>
            </ul>
          </td>
          <td class="details">
            <div class="media">
              <%= image_tag cache_busted_url(memory, :thumb) %>
            </div>
            <div class="info">
              <h2><%= memory.title %></h2>
              <p><%= memory.description %></p>
              <p><%= memory.location %></p>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  new Moderator();
</script>

