<div class="container outerpage">
  <% if current_user.is_admin? %>
    <ul class="admin-toolbar">
      <li class="state <%= @memory.current_state %>">
        <%= state_label(@memory) %>
      </li>
      <ul class="moderation-actions">
        <%= button_for_state('unmoderate', 'unmoderated', @memory) %>
        <%= button_for_state('approve', 'approved', @memory) %>
        <%= button_for_state('reject', 'rejected', @memory, 'unsuitable') %>
        <%= button_for_state('reject', 'rejected', @memory, 'offensive') %>
        <li>
          <% href = @memory.unmoderated? ? admin_unmoderated_path : admin_moderated_path %>
          <%= link_to 'Back to list', href, class: 'btn btn-default' %>
        </li>
      </ul>
    </ul>
  <% end %>

  <%= render 'memories/memory', object: @memory, edit_path: edit_admin_moderation_memory_path(@memory.id), delete_path: admin_moderation_memory_path(@memory) %>
</div>
