<div id="scrapbooks" class="container profile scrapbooks">
  <%= render partial: 'shared/profile_header' %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Your scrapbooks</h2>
      <div class="actions">
        <div class="viewingInfo">
          <strong>Browse</strong>
          <%= link_to my_memories_path, :class => "button memories inactive"  do %>
            <%= pluralize(current_user.memories.size, 'memory') %>
          <% end %>

          <span class="button scrapbooks"><%= pluralize(@scrapbooks.length, 'scrapbook') %></span>
        </div>

        <% if logged_in? -%>
          <%= link_to 'Create a scrapbook', '#', id: 'create-scrapbook-button', class: 'button scrapbooks float-right', data: {toggle: 'modal', target:'#create-scrapbook-modal'} %>
        <% end -%>
      </div>
    </header>

    <%= render partial: 'scrapbooks/index', locals: {scrapbooks: @scrapbooks} %>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController();
</script>
