<div class="container-fluid">
  <div class="row">
    <div class="scrapbooks">
      <% @scrapbooks.each do |scrapbook| %>
        <a class="scrapbook thumb" data-id="<%= scrapbook.id %>" href="<%= my_scrapbook_path(scrapbook.id) %>" title="View details" role="button">
          <div class="img">
            <% if scrapbook.memories.count == 0 %>
              <p>&nbsp;</p>
            <% else %>
              <%= image_tag cache_busted_url(scrapbook.memories.first, :thumb), alt: scrapbook.title %>
            <% end %>
          </div>
          <div class="footer">
            <div class="title"><%= scrapbook.title %></div>
            <div class="count"><%= pluralize(scrapbook.memories.count, 'memory') %></div>
            <div class="updates">Updated <%= time_ago_in_words(scrapbook.updated_at) %> ago</div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>

