<div class="container-fluid">
  <button id="create-scrapbook-button" class="btn btn-primary" data-toggle="modal" data-target="#create-scrapbook-modal">
    Create a new scrapbook
  </button>
  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to 'Memories', my_memories_path %></li>
      <li class="active"><%= link_to 'Scrapbooks', my_scrapbooks_path %></li>
    </ul>
    <div class="scrapbooks">
      <% @scrapbooks.each do |scrapbook| %>
        <a class="scrapbook thumb" data-id="<%= scrapbook.id %>" href="<%= my_scrapbook_path(scrapbook.id) %>" title="View details" role="button">
          <div class="img">
            <% if scrapbook.memories.count == 0 %>
              <p>&nbsp;</p>
            <% else %>
              <%= image_tag cache_busted_url(scrapbook.memories.first, :thumb), alt: scrapbook.title %>
            <% end %>
          </div>
          <div class="footer">
            <div class="title"><%= scrapbook.title %></div>
            <div class="count"><%= pluralize(scrapbook.memories.count, 'memory') %></div>
            <div class="updates">Updated <%= time_ago_in_words(scrapbook.updated_at) %> ago</div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController(function (e, data, status, xhr) {
    window.location = '/my/scrapbooks/' + data.id
  });
</script>
