<div id="scrapbook" class="container">

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1><%= @scrapbook.title %></h1>
      <span class="actions">
         <% if current_user.try(:can_modify?, @scrapbook) %>
           <%= link_to "Add memories", memories_path, role: "button", :class => "button memories"  %>
           <%= link_to "Edit", edit_my_scrapbook_path(@scrapbook.id), :class => "button navy edit"  %>
           <%= link_to "Delete", my_scrapbook_path(@scrapbook.id), :class => "button scrapbooks" , method: :delete, data: {confirm: 'Are you sure?'} %>
         <% end %>
        <%= link_to 'All scrapbooks', my_scrapbooks_path, :class => "button scrapbooks" %>
      </span>
    </header>

    <div id="description">
      <p><%= @scrapbook.description %></p>
    </div>

    <div id="scrapbooks" class="masonry-grid">
      <% @scrapbook.scrapbook_memories.by_ordering.each do |scrapbook_memory| %>
        <% memory = scrapbook_memory.memory %>
        <a class="memory thumb masonry" data-id="<%= memory.id %>" href="<%= memory_url(memory.id) %>" title="View details" role="button">
          <div class="img">
            <%= image_tag cache_busted_url(memory, :thumb), alt: memory.title %>
          </div>
          <div class="detail">
            <h3 class="title"><%= memory.title %></h3>
            <p><%= truncate(memory.description, :length => 50) %></p>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>

