.container-fluid
  = link_to "Back", my_scrapbooks_url
  - if belongs_to_user?(@scrapbook)
    = link_to "Edit", edit_my_scrapbook_url(@scrapbook.id)
    = link_to "Delete", my_scrapbook_url(@scrapbook.id), method: :delete, data: {confirm: 'Are you sure?'}

  %h1= @scrapbook.title
  %p= @scrapbook.description

  .row
    .memories
      - @scrapbook.memories.each do |memory|
        %a.memory.thumb(data-id="#{memory.id}" href="#{memory_url(memory.id)}" title="View details" role="button")
          %div.img
            %img{src: cache_busted_url(memory, :thumb), alt: memory.title}
          %div.footer
            %p.title= memory.title

