!!! 5
%html
  %head
    %title Edinburgh Stories

    %meta(name="viewport" content="width=device-width, initial-scale=1")

    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)

    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") Edinburgh Stories
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a(href="/") Home
            %li
              %a(href="#about") About
            %li
              %a(href="#contact") Help & Tutorials
            %li
              %a(href="mailto:edinburgh-stories@armoin.com?subject=Feedback") Feedback
            - if logged_in?
              %li
                = link_to 'My Memories', my_memories_path
              %li
                = link_to 'Sign Out', '/logout', method: :delete
            - else
              %li
                %a(href="/signup") Sign Up
              %li
                %a(href="/login") Sign In

    .flashes
      - flash.each do |class_name, message|
        %div{class: class_name}= message

    = yield

    .container-fluid
      %footer
        %p &copy; The City of Edinburgh Council 2014


    %script(type="text/javascript" src="//cdn.mailto.ninja/js/v0/mailto.ninja.js")
    %script(type="text/javascript")
      mailto.ninja({ showOnMobile: true })

