!!! 5
%html
  %head
    %title Edinburgh Stories - beta

    %meta(name="viewport" content="width=device-width, initial-scale=1")

    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)

    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/")
            Edinburgh Stories
            %span.beta beta
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: active_if_controller_path('memories') }
              %a(href="/") Home
            - if logged_in?
              %li{class: active_if_controller_path('my/memories') }
                = link_to 'My Memories', my_memories_path
              %li{class: active_if_controller_path('my/profile') }
                = link_to 'My Profile', my_profile_path
              %li
                = link_to 'Sign Out', '/logout', method: :delete
            - else
              %li{class: active_if_controller_path('users') }
                %a(href="/signup") Sign Up
              %li{class: active_if_controller_path('sessions') }
                %a(href="/login") Sign In
          %a.feedback.btn.btn-primary(href="mailto:edinburgh-stories@armoin.com?subject=Feedback") Feedback

    - unless Rails.env.test?
      %script(type="text/javascript" src="//cdn.mailto.ninja/js/v0/mailto.ninja.js")
      :javascript
        mailto.ninja({ showOnMobile: true })
    = javascript_include_tag('feature_switch', 'data-turbolinks-track' => true)

    .flashes
      - flash.each do |class_name, message|
        %div{class: class_name}
          = message
          %span.close &times;

    = yield

    .container-fluid
      %footer
        %p &copy; The City of Edinburgh Council 2014



