!!!
%html
  %head
    %title Edinburgh Stories

    %meta(name="viewport" content="width=device-width, initial-scale=1")

    = surround '<!--[if !IE]> -->'.html_safe, '<!-- <![endif]-->'.html_safe do
      = stylesheet_link_tag 'everything_else.css', media: 'all', 'data-turbolinks-track' => true

    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") Edinburgh Stories
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a(href="/") Home
            %li
              %a(href="#about") About
            %li
              %a(href="#contact") Help & Tutorials

    = yield

    .container-fluid
      %footer
        %p &copy; Company 2014


