<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8">    <![endif]-->
<!--[if IE 9]>         <html class="ie9">    <![endif]-->
<!--[if gt IE 9]>      <html class="ie10+">  <![endif]-->
<!--[if !IE]><!-->     <html>                <!--<![endif]-->
  <head>
    <title><%= APP_NAME %> - beta</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#eaebe9">
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag('application', media: 'all') %>

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <%= javascript_include_tag('application') %>

    <%= csrf_meta_tags %>

    <%# hack to stop modals from causing feature tests to fail %>
    <% if Rails.env.test? %>
      <style type="text/css">
        .modal.fade, .fade {
          -webkit-transition: opacity 0.01s;
          -moz-transition: opacity 0.01s;
          -ms-transition: opacity 0.01s;
          -o-transition: opacity 0.01s;
          transition: opacity 0.01s;
        }
      </style>
    <%end%>
  </head>
  <body>
    <a class="desktop feedback" href="mailto:<%= CONTACT_EMAIL %>?subject=Feedback">Feedback</a>
    <div id="wrapper">
      <header id="main-header" class="container">
        <div id="masthead" class="clearfix container">
          <div id="theNavBar" role="navigation" class="col-xs-12 col-sm-12">
            <button class="toggleMenu" type="button" role="button" aria-label="Open menu">
              <span id="menuText">MENU</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <nav id="menu">
              <ul class="menu">
                <li class="<%= active_if_controller_path('home') %>">
                  <%= link_to 'Home', root_path %>
                </li>
                <li>
                  <%= link_to 'Add a memory', new_my_memory_path %>
                </li>
                <li class="<%= active_if_controller_path('memories', 'scrapbooks') %>">
                  <%= link_to 'Browse', memories_path %>
                </li>
                <% if logged_in? %>
                  <li class="<%= active_if_controller_path('my/memories', 'my/scrapbooks') %>">
                    <%= link_to 'My collection', my_memories_path %>
                  </li>
                  <% if current_user.is_admin? %>
                    <li class="<%= active_if_controller_path('admin/home', 'admin/moderation') %>">
                      <%= link_to 'Admin', admin_home_path %>
                    </li>
                  <% end %>
                  <li class="profile <%= active_if_controller_path('my/profile') %>">
                    <span>My account</span>
                    <ul>
                      <li>
                        <%= link_to 'Getting started'.html_safe, my_getting_started_path %>
                      </li>
                      <li>
                        <%= link_to 'View profile'.html_safe, my_profile_path %>
                      </li>
                      <li>
                        <%= link_to 'Sign out', signout_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li class="<%= active_if_controller_path('users') %>">
                    <%= link_to 'Sign up', signup_path %>
                  </li>
                  <li class="signinli <%= active_if_controller_path('sessions') %>">
                    <%= link_to 'Sign in', signin_path, class: 'signin button green' %>
                  </li>
                <% end %>
                <li class="mobile">
                  <a class="feedback" href="mailto:<%= CONTACT_EMAIL %>?subject=Feedback">Feedback</a>
                </li>
              </ul>
            </nav>
          </div>

          <div id="searchwrapper" class="dropdowns col-sm-10 col-md-12">

          <div id="logo" class="">
            <a class="navbar-brand" href="/" title="<%= APP_NAME %>">
              <span class="accessible-label">Home</span>
              <%= image_tag "edinburgh-collected-logo.png", alt: "#{APP_NAME} - Beta" %>
            </a>
          </div>

            <div class="searchForm">
              <%= form_tag search_memories_path, method: :get, role: 'form' do %>
                <span class="toggleMenu" role="button" aria-label="Open menu">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </span>
                <div class="input-group">
                  <%= text_field_tag :query, params[:query], class: 'form-control', title: 'search' %>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" role="button" aria-label="Search the site"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div>
              <% end -%>
            </div>

          </div> <!-- end search/browse box -->
        </div> <!-- end masthead -->
      </header>
      <div id="main">
        <div class="flashes container">

          <% if show_verification_warning? -%>
            <div class="warn">
              <span class="close">&times;</span>
              Looks like you are haven't verified your account yet. We can't show anything you add to other users until you do so.
              <%= link_to "Click here to resend the verification email", resend_activation_email_users_path %>.
            </div>
          <% end -%>

          <% flash.each do |class_name, message| %>
            <div class="<%= class_name %>">
              <span class="close">&times;</span>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class="background">
          <%= yield %>
        </div>

      </div>
      <footer>
        <div class="container clearfix">
          <div class="wrap">
            <ul>
              <li>
                <%= link_to about_path do %>
                  <span class="accessible-label">About this site</span>
                  About
                <% end -%>
              </li>
              <li><%= link_to 'Contact us', contact_path %></li>
              <li><%= link_to 'Privacy and cookies', p_and_c_path %></li>
              <li><%= link_to 'Terms and conditions', t_and_c_path %></li>
            </ul>
            <p>&copy; The City of Edinburgh Council 2014</p>
          </div>
          <a href="http://www.edinburgh.gov.uk/" id="councilLogo" class="">
            <span class="accessible-label">City of Edinburgh Council website</span>
            <%= image_tag "edinburgh-council.png", alt: "The City of Edinburgh Council" %>
          </a>
          <a href="http://www.nesta.org.uk/" id="nestaLogo">
            <span class="accessible-label">Nesta website</span>
            <%= image_tag "nesta.png", alt: "Nesta" %>
          </a>
        </div>
      </footer>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        new FlashManager()

        $("#menu").mmenu({},{clone: true});

        $(".toggleMenu").click(function() {
          $("#mm-menu").trigger("open.mm");
        });

        var didScroll;

        $('body').on('scroll', function(event){ didScroll = true; });

        setInterval(function() {
          if (didScroll) {
            hasScrolled();
            didScroll = false;
          }
        }, 250);

        function hasScrolled() {
          var searchTop = $('#theNavBar')[0].getBoundingClientRect().bottom + 8;
          if (searchTop <= 0) {
            $('#wrapper').addClass('fix-search')
          } else {
            $('#wrapper').removeClass('fix-search')
          }
        }
      });
    </script>
  </body>
</html>

