<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8">    <![endif]-->
<!--[if IE 9]>         <html class="ie9">    <![endif]-->
<!--[if gt IE 9]>      <html class="ie10+">  <![endif]-->
<!--[if !IE]><!-->     <html>                <!--<![endif]-->
  <head>
    <title><%= APP_NAME %> :: <%= controller_name %></title>

    <%= render 'layouts/favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= content_for :stylesheets %>

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= javascript_include_tag('application') %>
    <%= content_for :top_scripts %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="main-header" class="container clearfix">
      <div id="theNavBar" role="navigation" class="col-xs-12 col-sm-12">
        <nav id="menu">
          <ul class="menu">
            <li class="<%= active_if_controller_path('home') %>">
              <%= link_to 'Home', root_path %>
            </li>
            <li>
              <%= link_to 'Add a memory', add_memory_my_memories_path %>
            </li>
            <li class="<%= active_if_controller_path('memories', 'scrapbooks') %>">
              <%= link_to 'Browse', memories_path %>
            </li>
            <% if logged_in? %>
              <li class="<%= active_if_controller_path('my/memories', 'my/scrapbooks') %>">
                <%= link_to 'My collection', my_memories_path %>
              </li>
              <% if current_user.is_admin? %>
                <li class="<%= active_if_controller_path('admin/home', 'admin/moderation') %>">
                  <%= link_to 'Admin', admin_home_path %>
                </li>
              <% end %>
              <li class="profile <%= active_if_controller_path('my/profile') %>">
                <span>My account</span>
                <ul>
                  <li>
                    <%= link_to 'Getting started'.html_safe, my_getting_started_path %>
                  </li>
                  <li>
                    <%= link_to 'View profile'.html_safe, my_profile_path %>
                  </li>
                  <li>
                    <%= link_to 'Sign out', signout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="<%= active_if_controller_path('users') %>">
                <%= link_to 'Sign up', signup_path %>
              </li>
              <li class="signinli <%= active_if_controller_path('sessions') %>">
                <%= link_to 'Sign in', signin_path, class: 'signin button green' %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div id="searchwrapper" class="dropdowns col-sm-10 col-md-12">
        <button class="toggleMenu" type="button" role="button" aria-label="Open menu">
          <span id="menuText">MENU</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div id="logo" class="">
          <a class="navbar-brand" href="/" title="<%= APP_NAME %>">
            <span class="accessible-label">Home</span>
            <%= image_tag "edinburgh-collected-logo.png", alt: "#{APP_NAME} - Beta" %>
          </a>
        </div>

        <div class="searchForm">
          <%= form_tag search_memories_path, method: :get, role: 'form' do %>
            <div class="input-group">
              <%= text_field_tag :query, params[:query], class: 'form-control', title: 'search' %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" role="button" aria-label="Search the site"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>
          <% end -%>
        </div>
      </div> <!-- end search/browse box -->
    </header>

    <main>
      <div class="flashes container">
        <%= render 'layouts/verification_warning' %>
        <%= render 'layouts/flashes' %>
      </div>

      <%= yield %>

      <%= content_for :modals %>
    </main>

    <footer class="main">
      <div class="container clearfix">
        <div class="static-pages">
          <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact us', contact_path %></li>
            <li><%= link_to 'Privacy and cookies', p_and_c_path %></li>
            <li><%= link_to 'Terms and conditions', t_and_c_path %></li>
          </ul>
          <p>&copy; The City of Edinburgh Council 2014</p>
        </div>
        <div class="logos">
          <div class="partners">
            <a href="http://www.edinburgh.gov.uk/" id="councilLogo" target="blank">
              <span class="accessible-label">City of Edinburgh Council website</span>
              <%= image_tag "edinburgh-council.png", alt: "The City of Edinburgh Council" %>
            </a>
            <a href="http://www.nesta.org.uk/" id="nestaLogo" target="blank">
              <span class="accessible-label">Nesta website</span>
              <%= image_tag "nesta.png", alt: "Nesta" %>
            </a>
          </div>
        </div>
      </div>
      <div class="container clearfix toolbar">
        <div class="toolbar__tool">
          All images licensed under
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="blank">
            <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
          </a>
        </div>
        <div class="toolbar__tool">
          Tested with
          <a href="http://www.browserstack.com/" id="browserstackLogo" target="blank">
            <span class="accessible-label">Browserstack website</span>
            <%= image_tag "bs_logo.png", alt: "Browserstack" %>
          </a>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61978265-1', 'auto');
      ga('send', 'pageview');

      $(document).ready(function () {
        // setup mobile slide menu
        $("#menu").mmenu(
          { offCanvas: { zposition: "front" } },
          { clone: true }
        );

        $(".toggleMenu").click(function() {
          $("#mm-menu").trigger("open.mm");
        });
      });
    </script>

    <%= content_for :script_tags %>
  </body>
</html>
