<!DOCTYPE html>
<html>
  <head>
    <title>Edinburgh Stories - beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>

    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            Edinburgh Stories
            <span class="beta">beta</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= active_if_controller_path('memories') %>">
              <%= link_to 'Home', root_path %>
            </li>
            <% if logged_in? %>
              <li class="<%= active_if_controller_path('my/memories') %>">
                <%= link_to 'My Memories', my_memories_path %>
              </li>
              <li class="<%= active_if_controller_path('my/profile') %>">
                <%= link_to 'My Profile', my_profile_path %>
              </li>
              <li>
                <%= link_to 'Sign Out', logout_path, method: :delete %>
              </li>
            <% else %>
              <li class="<%= active_if_controller_path('users') %>">
                <%= link_to 'Sign Up', signup_path %>
              </li>
              <li class="<%= active_if_controller_path('sessions') %>">
                <%= link_to 'Sign In', login_path %>
              </li>
            <% end %>
          </ul>
          <a class="feedback btn btn-primary" href="mailto:edinburgh-stories@armoin.com?subject=Feedback">Feedback</a>
        </div>
      </div>
    </div>

    <div class="flashes">
      <% flash.each do |class_name, message| %>
        <div class="<%= class_name %>">
          <%= message %>
          <span class="close">&times;</span>
        </div>
      <% end %>
    </div>

    <div class="background">
      <%= yield %>
    </div>

    <div class="container-fluid">
      <footer>
        <p>&copy; The City of Edinburgh Council 2014</p>
      </footer>
    </div>

    <% unless Rails.env.test? %>
      <script type="text/javascript" src="//cdn.mailto.ninja/js/v0/mailto.ninja.js"></script>
      <script type="text/javascript">
        mailto.ninja({ showOnMobile: true })
      </script>
    <% end %>
  </body>
</html>

